$primary: #0fa959;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$brand-clr: #80ff72; // neon: #4af953;
$best-blue: #0d0cb5; //#2CD581;//#2CD581;//
$forest-green: #228b22;
$primary-bg: #e7e9ef;
$fnt_clr: #444b4c;