@import "./base";

.admin_container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #0d0cb5 0%, #2cd581 100%);
}
// $best-blue
.admin_login_container {
  width: 90vw;
  padding: 2rem;
  @media only screen and (min-width: 768px) {
    width: 28vw;
  }
}
.admin_login_header {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.admin_login_footer {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  span {
    color: #ffa600;
  }
  & > .text {
    font-weight: normal;
    font-size: 1rem;
    color: #3b3b3b;
  }
}

.form_with_icon {
  position: relative;
  margin-bottom: 18px;
  & div.icon {
    height: 42px;
    position: absolute;
    top: 50%;
    right: 20px;
    line-height: 42px;
    transform: translateY(-50%);
  }
}
.form_btn {
  background: $forest-green;
  border-radius: 50px;
  font-size: 1.175rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;
  border: none;

  &:focus {
    outline: none;
  }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  }
}
