@import "../styles/base";

$fnt_clr: #444b4c;
$bg-clr: #0fa959;

.card_wrapper {
  .card {
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0 1rem;
    width: 16rem;
    color: $fnt_clr;
    background-color: white;
    flex-shrink: 0;
    cursor: pointer;
    box-shadow: 0px 32px 36px -35px rgba(97, 97, 97, 1);
    transition: all 0.2s ease-in-out;
    & p {
      margin-bottom: 0;
    }
    &_key {
      font-size: 0.8rem;
    }
    &_value {
      font-size: 1.3rem;
      font-weight: bold;
    }
    &.in_danger {
      background-color: #e84c3d;
      color: white;
      box-shadow: 0px 11px 15px -6px #e84c3d;
    }
    & + .disable_device_btn {
      transform: translateY(-1.5rem);
      opacity: 0;
      width: max-content;
      margin: auto;
    }
    &.active {
      background-color: $bg-clr;
      color: white;
      box-shadow: 0px 11px 15px -6px #017738cc;
    }
  }
  &:hover {
    .card {
      transform: translateY(-1.5rem);
      background-color: white;
      color: $fnt_clr;
      // box-shadow: 0px 11px 15px -6px #017738cc;
      &.active {
        box-shadow: 0px 32px 36px -35px rgba(97, 97, 97, 1);
      }
      &.in_danger {
        color: $fnt_clr;
        background-color: white;
        box-shadow: 0px 32px 36px -35px rgba(97, 97, 97, 1);
      }

      & + .disable_device_btn {
        transform: translateY(0rem);
        opacity: 1;
      }
    }
  }
}

.cards {
  overflow-x: auto;
  background-color: $primary-bg;
  padding-bottom: 2rem;
  padding-top: 2rem;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $primary-bg;
    border-radius: 10px;
    background-clip: content-box; /* THIS IS IMPORTANT */
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $bg-clr;
    border-radius: 10px;
    height: 5px;
  }
}
