

.live_banner {
  border-radius: 8rem;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  //   border: 1px solid ;
}
.pulse {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #e84c3d;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  background-size: cover;
  background-repeat: no-repeat;
  animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1) infinite;
}
@media only screen and (min-width: 768px) {
  .pulse {
    width: 12px;
    height: 12px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0);
  }
}
